# Wicked Hydro-Planter

## [Square Planter](square/)

> **Planter**  
> Go to [STL folder](square/stl/)

```stl
### SQUARE_PLANTER_TEMPLATE ###
```

> **Basin**  
> Go to [STL folder](square/stl/)

```stl
### SQUARE_BASIN_TEMPLATE ###
```

## [Hexagon Planter](hexagon/)

> **Planter**  
> Go to [STL folder](hexagon/stl/)

```stl
### HEXAGON_PLANTER_TEMPLATE ###
```

> **Basin**  
> Go to [STL folder](hexagon/stl/)

```stl
### HEXAGON_BASIN_TEMPLATE ###
```

